<div class="input-container">
  <%= form_with model: @category, class: "wordy-form" do |f| %>
    <%= f.text_field :name, class: 'input-field', placeholder: 'Enter category name',
                            style: 'margin-right: 15px',
                            autofocus: true %>
    <%= f.button :button, type: :submit, class: 'btn' do %>
      <% if not @category.id %>
        <i class="fas fa-plus-square"></i>
      <% else %>
        <i class="fas fa-save"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
