<div class="item-container">
  <ul class="item-list">
    <% @categories.each do |category| %>
      <div class="item">
        <li class="list-item"><%= category.name %></li>
        <%= link_to edit_category_path(category), class: "complete-btn" do %>
            <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to category_path(category), method: :delete,
                                             class: "trash-btn",
                                             data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
